/* General Styles */
body {
    margin: 0;
    padding:0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background: rgb(206,208,222);
    background: linear-gradient(1deg, 
    rgb(223, 223, 231) 50%, 
    rgb(226, 224, 233) 90%, 
    rgb(232, 230, 252) 100%); 
}

/* Nav Styles */
nav {
    display:flex;
    justify-content: space-between;
    background-color: #362E54;
    padding: 1rem 2rem 1rem 2rem;
    color:#b2bdf0;
    transition: all ease .1s;
}

nav p, nav a {
    font-size: 1rem;
}

nav:hover {
    background-color: #463970;
    transition: all ease-in-out .1s;
}

nav a {
    text-decoration: transparent;
    color:#b2bdf0;
    transition: all ease-in-out .2s;
}

nav a:hover {
    text-decoration: underline;
    color: #c6ad62;
    transition: all ease-in-out .2s;
}

/* Footer Styles */
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #362E54;
    padding: 1rem;
    color:#b2bdf0;
    margin-top:2.5rem;
    transition: all ease .1s;
}

footer:hover {
    background-color: #463970;
    transition: all ease .1s;
}

footer a {
    text-decoration: transparent;
    color:#b2bdf0;
    transition: all ease-in-out .2s;
}

footer a:hover {
    text-decoration: underline;
    color: #c6ad62;
    animation: ease;
    transition: all ease-in-out .2s;
}

#linkedin {
    transform-origin: center center;
}
#linkedin:hover {
    transform: scale(1.3);
    animation: ease;
}

/* Splash Section */
.splash {
    background-color: white;
    border-radius: 1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    padding: 2rem 4.5rem;
    margin: 2rem 2rem 2.5rem 2rem;
    box-shadow:  6px 6px 8px #9ca1ba;
}

.splash h1 {
    font-family: "Borel", serif;
    font-size: 1.7rem;
    font-weight: 800;
    font-style: normal;
}

#splash_name {
    color:#5A5183;
    transform: scale(1.1);
    transition: all ease .3s;
}

#splash_name:hover {
    transform: scale(1.15);
    color:#c2b200;
    transition: all ease .3s;
}

.splash img {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(86, 86, 86);
    margin-bottom: 1.3rem;
    max-width: 100%;
    height: auto;
    width: auto\9;
    transition: all ease .3s;
}

#headshot {
    transition: all ease .3s;
}

#headshot:hover {
    transform: scale(1.05);
    transition: all ease.3s;
}

#headshot:hover img{
    border: 2px solid #362E54;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(121, 120, 120);
    transition: all ease-in-out .2s;
}

.splash p {
    color: #5A5183;
    font-size: 1rem;
}

/* Horizontal Rules */
hr {
    display:block;
    width: 80%;
    border:.1rem #ffffff solid;
    border-radius: 100%;
    border-top: 1px solid #ccc;
}

/* Sections */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #362E54;
}

.education {
    margin: 2rem;
    margin-top:2.5rem;
    padding: 3rem;
    padding-top: 2rem;
    background-color:#9aa5d5;
    border-radius: 0rem 3rem 0rem 3rem;
    box-shadow: 10px 10px #362E54;
}

.honors {
    margin: 2rem;
    margin-top:2.5rem;
    padding: 3rem;
    padding-top: 2rem;
    border-radius:3rem 0rem;
    background-color:rgb(243, 245, 253);
    box-shadow: 10px 10px rgb(79, 59, 106);
}

.skills {
    margin: 2rem;
    margin-top:2.5rem;
    padding: 3rem;
    padding-top: 2rem;
    background-color: #baa462;
    border-radius: 3rem 0rem 3rem 0rem;
    text-align: start;
    color: #382f00;
    box-shadow: 10px 10px #412d0b;
}

.experience {
    margin: 2rem;
    margin-top:2.5rem;
    margin-bottom: 3.5rem;
    padding: 3rem;
    padding-top: 2rem;
    border:.1rem rgb(220, 219, 255) solid;
    background-color:#362E54;
    border-radius:0rem 3rem;
    color:#e7efff;
    box-shadow: 10px 10px white;
}

/* Section Headings */
section h2 {
    font-size: 1.7rem;
}

/* Paragraph Styles */
section p {
    text-align: center;
}

/* link styles */
section a {
    text-decoration: transparent;
    color: #dab72b;
    transition: all ease .2s;
}
section a:hover {
    text-decoration: underline;
    color:#a3a0ff;
    transition: all ease .2s;
}

/* List Styles */
ul {
    list-style: none;
    padding: 0rem;
}

ul li {
    margin-bottom: .8rem; 
    padding-left: 1rem; 
    position: relative;
}

ul li::before {
    content: "•";
    color: #382f00;
    font-weight: 1000;
    position: absolute;
    left: 0; 
}  

dl {
    text-align: end;
}
dl dt{
    text-align: center;
}
dl dd{
    text-align: end;
}

/* Project Section */
.three-col {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:1rem;
    margin-bottom: .3rem;
}

#projects_header {
    margin-top:1rem;
    display:flex;
    justify-content: center;
}

#projects_header h2{
    border: 2px black solid;
    border-bottom:#382f00;
    color:#f8edb9;
    margin:1.3rem;
    padding:1rem 2rem;
    width:80vw;
    max-width: 60%;
    background-color: #745700;
    border-radius: 10rem 0rem 10rem 0rem;
    box-shadow: 10px 10px rgb(44, 30, 2);
    transition: all ease-in-out .3s;
}

#projects_header:hover h2{
    background-color: #342a17;
    border: 2px solid #f8edb9;
    color: white;
    box-shadow: 10px 10px #baa462;

    transform: scaleX(1.1); /* Expands only in width */
}

.card {
    box-shadow:6px 6px 8px #797f99;
    background-color: #ac9a65; 
    border-radius: 1rem;
    margin: 1rem;
    transition: all ease .3s;
}

.card img {
    width: 100%;
    height: 15rem;
    object-fit: cover; 
    border: 5px solid rgb(223, 223, 231); 
    border-left-width: 0rem;
    border-right-width: 0rem;
}

#calc-img {
    height:13.5rem;
}

.card h3 {
    text-align: center;
    color: rgb(242, 224, 154);
    background-color: #342a17;
    border-radius:1rem 1rem 0rem 0rem;
    margin:0rem;
    padding:1rem;
    transition: all ease .3s;
}

.card ul {
    list-style: none;
    padding: 0rem;
}

.card-content {
    padding: 1rem;
    margin:0rem 1rem;
    color: #433905;
}

.card:hover {
    box-shadow: 6px 6px 16px #797f99;
    background-color: rgb(198, 178, 118);
    .card-content {
        color:#261900;
        transition: all ease .3s;
    }
    transform: scale(1.023);
    transition: all ease .5s;
}

.card:hover h3 {
    color: rgb(255, 255, 255);
    background-color: #745700;
    transition: all ease .3s;
}

.card:hover img {
    border: 5px solid rgb(255, 255, 255);
    border-left-width: 0rem;
    border-right-width: 0rem;
}

/* Contact Page Styles */
.one-col {
    display:flex;
    flex-flow: column nowrap;
}

label {
    font-weight: 500;
}

.contact {
    margin:2rem;
    padding:3rem;
    background-color: white;
    border-radius: 1rem;
    border:#04046d 1px solid;
    box-shadow:  6px 6px 8px #9ca1ba;
    transition: all ease .3s;
}

.contact p {
    margin-top:-5px;
    color: #5A5183;
    transition: all ease .1s;
}

.contact h1 {
    transition: all ease .2s;
}

.contact:hover {
    transform: scale(1.02);
    transition: all ease .3s;
    border-color: #817700;
    box-shadow:  6px 6px 16px #a7acc7;
}

.contact:hover h1{
    color:#817700;

}

.contact:hover p{
    color:#968c22;
    transition: all ease .2s;
}

form {
    background-color: #a4a8da;
    border-radius: .5rem;
    margin:2rem;
    padding:1rem 1rem 1rem 1.3rem;
    box-sizing: border-box;
    line-height: 1.5;
    transition: all ease .1s;
}

form input, form textarea {
    -webkit-appearance: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: none;
    font-style: none;
    margin:.2rem .2rem .2rem 0rem;
    padding: .5rem;
    border:#332181 1px solid;
    background-color: rgb(241, 241, 255);
    transition: all ease .1s;
}

form input:focus, form textarea:focus {
    background-color: rgb(227, 250, 255);
    color:#04046d;
    transform: scale(1.03);
    transition: all ease .1s;

}

form button {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(221, 223, 255);
    background-color: #363588;
    margin:.5rem 1rem .5rem 0rem;
    padding:.5rem 1rem .5rem 1rem;
    border-radius: 100rem;
    border:#04046d 1px solid;
    transition: ease .2s;
}

form button:hover {
    background-color: #776bbe;
    color:white;
    border:#776bbe 1px solid;
    cursor:pointer;
    transform: scale(1.07);
    box-shadow: 0px 0px 3px 1px #ffffff;
    transition: ease .3s;
}

.thankyou {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:1rem;
    padding:1rem;
    color:#363588
}

.thankyou h1 {
    font-family: "Borel", serif;
    font-size: 3rem;
    font-weight: 800;
    font-style: normal;
}

@media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center; 
      padding:1rem 2rem 2rem 2rem;
    }

    nav p {
        margin-bottom: 0px;
    }

    .splash {
        
    }

    .splash h1 {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .splash img {
        border:3px #362E54 solid;
        border-radius:20%;
        margin-top: .5rem;
        margin-bottom: .5rem;
        height:auto;
        width: 10rem;
    }

    #headshot:hover img{
        border:3px #ffffff solid;
    }

    .contact {
        border:#04046d 2px solid;
        border-radius: 2rem;
    }

    .form {
        margin-bottom: -1.5rem;
    }

    .form_container {
        padding:0rem;
        margin:0rem 1.4rem 0rem 0rem;
        text-align: center;
    }

    form input, form textarea {
        width: 100%;
    }

    .form_button {
        padding:0rem 0rem 0rem 1rem;
    }
    
    form button {
        width:100%;
    }

    footer {
        margin-top: 2rem;
    }

  }
